/**
 * This code is part of matheus.io, it is freely available for study, hacking or whatever you want to do with it.
 */

// This website uses the font Montserrat @ weights 300 (Light), 400 (Regular), 500 (Medium), 700 (Bold) and 900 (Black)
// TODO: Reduce amounts of fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap');

// We also need FontAwesome here
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

// We'll insert our variables into the body element, so they propagate all the way downards to our components
body {
  // The website default spacing
  --spacing: 30px;
  --spacing-vertical: 75px;

  // Here we define our website's main theme colors
  --theme-background: #0d0428;
  --theme-background-light: #1e143d;
  --theme-foreground: #ffffff;
  --theme-foreground-light: rgba(255, 255, 255, 0.70);
  --theme-foreground-lighter: rgba(255, 255, 255, 0.50);

  // Here we define our accent colors
  --theme-accent-foreground: var(--theme-background);
  --theme-accent-fill-01: #28ff85;
  --theme-accent-fill-02: #ffa72d;
  --theme-accent-fill-03: #2672ff;
  --theme-accent-fill-04: #ff3d81;

  // Font settings
  --font: 'Montserrat', 'Helvetica Neue', sans-serif;

  // Lightest: Used in Work Experience dates
  --font-lightest-size: 12px;
  --font-lightest-weight: 300;
  --font-lightest-spacing: 0.25em;
  --font-lightest-opacity: 0.80;

  // Lighter: Used in Work Experience texts
  --font-lighter-size: 12px;
  --font-lighter-weight: 400;
  --font-lighter-spacing: 0.10em;
  --font-lighter-opacity: 0.70;

  // Light: Used in Work Experience Company Name
  --font-light-size: 12px;
  --font-light-weight: 400;
  --font-light-spacing: 0.25em;
  --font-light-opacity: 1.00;

  // Normal: The default font style, used pretty much everywhere else
  --font-normal-size: 12px;
  --font-normal-weight: 500;
  --font-normal-spacing: 0.25em;
  --font-normal-opacity: 1.00;

  // Heading: Used in headings
  --font-heading-size: 16px;
  --font-heading-weight: 700;
  --font-heading-spacing: 0.25em;
  --font-heading-opacity: 1.00;

  // Subtitle: Used in the subtitle at opening of website
  --font-subtitle-size: 12px;
  --font-subtitle-weight: 500;
  --font-subtitle-spacing: 0.15em;
  --font-subtitle-opacity: 1.00;

  // Title: Used in the title at opening of website
  --font-title-size: 24px;
  --font-title-weight: 900;
  --font-title-spacing: 0.00em;
  --font-title-opacity: 1.00;

  // Opening: Used in the opening of website
  --font-opening-size: 16px;
  --font-opening-weight: 500;
  --font-opening-spacing: 0.25em;
  --font-opening-opacity: 1.00;

  // Inputs: Used in the contact inputs
  --font-input-size: 16px;
  --font-input-size-icon: 12px;
  --font-input-weight: 400;
  --font-input-spacing: 0.15em;
  --font-input-opacity-placeholder: 0.50;

  // Border radius
  --border-radius: 3px;

  // Icon sizes
  --icon-size: 16px;
}

// Here we create our "light theme", so that by default the user is greeted in a "dark theme" :)
body.light-theme {
  // Here we define our website's main theme colors
  --theme-background: #ffffff;
  --theme-background-light: #eeeeee;
  --theme-foreground: #0d0428;
  --theme-foreground-light: #1e143d;
  --theme-foreground-lighter: rgba(#1e143d, 0.70);

  // Here we define our accent colors
  --theme-accent-foreground: var(--theme-foreground);
  --theme-accent-fill-01: #28ff85;
  --theme-accent-fill-02: #ffa72d;
  --theme-accent-fill-03: #2672ff;
  --theme-accent-fill-04: #ff3d81;
}

// Here we set our print styles, by default we're gonna use the "light theme" from above
@media print {
  body {
    // The website print spacing
    --spacing: 20px;
    --spacing-vertical: 40px;

    // Here we define our website's main theme colors
    --theme-background: #ffffff;
    --theme-background-light: #eeeeee;
    --theme-foreground: #0d0428;
    --theme-foreground-light: #1e143d;
    --theme-foreground-lighter: rgba(#1e143d, 0.70);

    // Here we define our accent colors
    --theme-accent-foreground: var(--theme-background);
    --theme-accent-fill-01: #28ff85;
    --theme-accent-fill-02: #ffa72d;
    --theme-accent-fill-03: #2672ff;
    --theme-accent-fill-04: #ff3d81;
  }
}

// Now we code our components as we would
body {
  // Adds proper padding to body and removes margins
  box-sizing: border-box;
  padding: 0px var(--spacing);
  margin: 0px 0px;

  // Sets-up the font
  font-family: var(--font);
  font-size: var(--font-normal-size);
  letter-spacing: var(--font-normal-spacing);
  text-transform: uppercase;

  // Main body colors
  color: var(--theme-foreground);
  background: var(--theme-background);

  // The progress bar with title component
  .progress-bar {
    margin-bottom: var(--spacing);

    .progress-bar-container {
      position: relative;

      height: var(--font-normal-size);
      border-radius: var(--border-radius);

      background: var(--theme-background-light);

      &:before {
        content: ' ';
        display: block;

        background: var(--accent);
        border-radius: var(--border-radius);

        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: calc(100% * var(--progress));

        animation: progress-bar-fill 2s cubic-bezier(.75, 0, .35, 1) forwards normal 1;
      }

      @keyframes progress-bar-fill {
        0% { max-width: 0px; }
        100% { max-width: calc(var(--progress) * 100%); }
      }
    }
  }

  // Cores accent dos componentes
  .accent-01 { --accent: var(--theme-accent-fill-01); }
  .accent-02 { --accent: var(--theme-accent-fill-02); }
  .accent-03 { --accent: var(--theme-accent-fill-03); }
  .accent-04 { --accent: var(--theme-accent-fill-04); }

  // Centers images
  img {
    display: block;
    max-width: 100%;
    margin: 0px auto;
    border-radius: 100%;
  }

  // Vertical spacer
  hr {
    height: var(--spacing);
    background: transparent;
    border: 0px none;
  }

  // Opening, main and secondary titles
  .opening {
    display: block;

    font-size: var(--font-opening-size);
    font-weight: var(--font-opening-weight);
    letter-spacing: var(--font-opening-spacing);
    opacity: var(--font-opening-opacity);

    margin-top: var(--spacing-vertical);
  }
  h1, h2, h3, h4 {
    padding: 0px;
    margin: 0px;
  }
  h1 {
    font-size: var(--font-title-size);
    font-weight: var(--font-title-weight);
    letter-spacing: var(--font-title-spacing);
    opacity: var(--font-title-opacity);

    margin-top: calc(var(--spacing) / 2);
  }
  h2 {
    font-size: var(--font-subtitle-size);
    font-weight: var(--font-subtitle-weight);
    letter-spacing: var(--font-subtitle-spacing);
    opacity: var(--font-subtitle-opacity);

    margin-top: var(--spacing-vertical);
  }

  // Page block titles
  h3 {
    font-size: var(--font-heading-size);
    font-weight: var(--font-heading-weight);
    letter-spacing: var(--font-heading-spacing);
    opacity: var(--font-heading-opacity);
    
    margin-bottom: var(--spacing);
  }

  // Inner titles
  h4 {
    font-size: var(--font-normal-size);
    font-weight: var(--font-normal-weight);
    letter-spacing: var(--font-normal-spacing);
    opacity: var(--font-normal-opacity);

    margin-bottom: calc(var(--spacing) / 2);
  }

  // Social links
  .social-links {
    display: flex;

    font-size: var(--icon-size);

    justify-content: space-between;

    a {
      display: block;
      padding: 1em 0.75em;

      color: inherit;
      text-decoration: none;
    }
  }

  .grid-left .social-links {
    font-size: 15px;
  }

  // Timeline
  .timeline {
    position: relative;
    padding-left: var(--spacing);

    // Draw the timeline bar
    &:before {
      content: ' ';
      display: block;
      width: 1px;

      background: var(--theme-foreground);
      
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      transform: translateX(-50%);
    }

    // Entries
    .timeline-entry {
      position: relative;
      text-align: left;

      margin-bottom: var(--spacing-vertical);

      // Draw the bullet
      &:before {
        content: ' ';
        display: block;
        
        position: absolute;
        top: 0px;
        left: 0px;
        transform: translateX(-50%);

        width: 1em;
        height: 1em;
        margin-left: calc(-1 * var(--spacing));

        border-radius: 1em;

        border: 1px solid var(--theme-foreground);
        background: var(--theme-background);
      }

      // Current work gets a filled bullet
      &.current:before {
        background: var(--theme-foreground);
      }

      // Fields
      .experience-position {
        display: block;
        margin: 0px;
        margin-bottom: calc(var(--spacing) / 8);

        font-size: var(--font-normal-size);
        font-weight: var(--font-normal-weight);
        letter-spacing: var(--font-normal-spacing);
        opacity: var(--font-normal-opacity);
      }
      .experience-company {
        display: block;
        margin: 0px;
        margin-bottom: calc(var(--spacing) / 8);

        font-size: var(--font-light-size);
        font-weight: var(--font-lighteweight);
        letter-spacing: var(--font-light-spacing);
        opacity: var(--font-light-opacity);
      }
      .experience-time {
        display: block;
        margin: 0px;
        margin-bottom: calc(var(--spacing) / 8);

        font-size: var(--font-lightest-size);
        font-weight: var(--font-lightest-weight);
        letter-spacing: var(--font-lightest-spacing);
        opacity: var(--font-lightest-opacity);
      }

      .experience-description {
        display: block;
        margin: 0px;
        margin-bottom: calc(var(--spacing) / 8);

        text-transform: none;
        font-size: var(--font-lighter-size);
        font-weight: var(--font-lighter-weight);
        letter-spacing: var(--font-lighter-spacing);
        opacity: var(--font-lighter-opacity);
      }
    }
  }

  // Improved form
  .improved-form {
    transition: opacity 0.2s ease, max-height 0.3s ease;

    &.executing {
      opacity: 0.50;
      pointer-events: none;
    }

    &.submitted {
      overflow: hidden;
      animation: improved-form-hide 1s cubic-bezier(.75, 0, .35, 1) forwards normal 1;
      pointer-events: none;
    }

    @keyframes improved-form-hide {
      0% { max-height: 100vh; opacity: 1.0; }
      100% { max-height: 0vh; opacity: 0.0; }
    }
  }

  // Textbox
  .textbox {
    display: flex;
    margin-bottom: var(--spacing);

    background: var(--theme-background-light);

    border-radius: var(--border-radius);
    overflow: hidden;

    font-size: var(--font-input-size);
    font-weight: var(--font-input-weight);
    letter-spacing: var(--font-input-spacing);

    // Icon
    .textbox-icon {
      display: block;
      width: var(--spacing);
      height: calc(3 * var(--font-input-size));

      font-size: var(--font-input-size-icon);
      line-height: calc(3 * var(--font-input-size));
      text-align: center;
      letter-spacing: 0px;
    }

    // The actual field
    input { height: 1em; }
    .textbox-input {
      display: block;
      flex: 1;

      border: 0px none;
      background: transparent;

      font: inherit;
      line-height: 1em;
      color: inherit;

      padding: 1em 1em 1em 0.333em;

      resize: none;

      &::placeholder {
        // Chrome, Firefox, Opera, Safari 10.1+
        color: inherit;
        opacity: var(--font-input-opacity-placeholder);
        text-transform: uppercase;
        letter-spacing: var(--font-input-spacing);
      }

      &:-ms-input-placeholder {
        // Internet Explorer 10-11
        color: inherit;
        opacity: var(--font-input-opacity-placeholder);
        text-transform: uppercase;
        letter-spacing: var(--font-input-spacing);
      }

      &::-ms-input-placeholder {
        // Microsoft Edge
        color: inherit;
        opacity: var(--font-input-opacity-placeholder);
        text-transform: uppercase;
        letter-spacing: var(--font-input-spacing);
      }
    }
  }
  
  // Buttons
  button {
    height: 3em;
    padding: 1em 2em;
    line-height: 1em;

    color: var(--theme-foreground);
    background: var(--theme-background-light);

    border: 0px none;
    border-radius: var(--border-radius);

    font-size: var(--font-opening-size);
    font-weight: var(--font-opening-weight);
    letter-spacing: var(--font-opening-spacing);
    text-transform: uppercase;

    &[type="submit"] {
      color: var(--theme-accent-foreground);
      background: var(--theme-accent-fill-01);
    }

    &.toggle-switch {
      position: relative;

      @media print { display: none }

      cursor: pointer;

      font-size: inherit;
      
      width: 4.5em;
      border-radius: 3em;

      &:before {
        content: ' ';
        display: block;

        position: absolute;
        top: 50%;
        left: 50%;
        width: 0.8em;
        height: 0.8em;
        transform: translate(-75%, -50%);

        font-size: 3em;
        border-radius: 1em;

        background: var(--theme-foreground);

        will-change: transform;
        transition: transform 0.2s ease-in-out;
      }

      &.enabled {
        &:before {
          transform: translate(-25%, -50%);

          background: var(--theme-accent-fill-01);
        }
      }
    }
  }

  // Page blocks
  .page-block {
    margin-bottom: var(--spacing-vertical);
    
    text-align: center;

    // Extra-spaced blocks
    .extra-spacing,
    &.extra-spacing {
      padding: 0px var(--spacing);
    }

    &>p {
      margin: var(--spacing) auto;
    }

    &:last-child { margin-bottom: calc(var(--spacing-vertical) / 2); }
  }

  // Main element
  main {
    padding-top: var(--spacing-vertical);
  }

  // Desktop styles
  @media (min-width: 767px) {
    // Grid layout for our desktop website
    main {
      width: 900px;
      max-width: 100%;
      margin: 0px auto;

      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto auto;
      grid-column-gap: var(--spacing);
      grid-row-gap: 0px;
    }

    // Position stuff on the grid
    .grid-left { grid-area: 1 / 1 / 2 / 2; }
    .grid-right { grid-area: 1 / 2 / 2 / 3; }
    .grid-bottom { grid-area: 2 / 1 / 3 / 3; }
  }

  // Print styles
  @media print {
    // Reduce the progress bars
    .progress-bar {
      .progress-bar-container {
        height: calc(var(--font-normal-size) / 2);
      }
    }

    // Reduces image size
    img {
      max-width: 65%;
    }

    // Reduces the spacer too
    hr {
      height: calc(var(--spacing) / 3);
    }

    // Remove social links
    .social-links {
      display: none;
    }

    // Grid layout for our desktop website
    main {
      width: 18cm;
      max-width: 100%;
      margin: 0px auto;

      display: grid;
      grid-template-columns: 4fr 5fr;
      grid-template-rows: auto auto;
      grid-column-gap: var(--spacing);
      grid-row-gap: 0px;
    }

    // Position stuff on the grid
    .grid-left { grid-area: 1 / 1 / 2 / 2; }
    .grid-right { grid-area: 1 / 2 / 2 / 3; }
    .grid-bottom { display: none; }
  }
}